* {
  color: #3f1889;
  margin: 0px;
  padding: 0px;
  font-family: 'Rubik', sans-serif;
}

.navBar img {
  height: 2vw;
  margin: 1.5vw;
}

.navBar h1 {
  font-size: 2vw;
  font-weight: 700;
  margin-top: 1.3vw;
}

.navBar a {
  font-size: 1.3vw;
  font-weight: 400;
  text-decoration: none;
  color: #3f1889;
}

.navBar hr {
  height: 2px;
  border: 2px solid #3f1889
}